{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "E-pochta manzilini tasdiqlash." %}{% endblock %}


{% block content %}
<h1>{% trans "E-pochta manzilini tasdiqlash." %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> foydalanuvchi uchun elektron pochta manzilidir {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Tasdiqlash.' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ushbu elektron pochtani tasdiqlash havolasi muddati tugagan yoki yaroqsiz. Iltimos <a href="{{ email_url }}">yangi elektron pochtani tasdiqlash so'rovini yuboring.</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
