{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Parol o'zgartirish{% endblock %}

{% block content %}
<section>
    <div class='container password-instructions-sent'>
    <h1>{% trans "Parol o'zgartirish" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p style='margin: 1rem 0'>{% blocktrans %}Sizga elektron xat yubordik. Agar siz uni olmagan bo'lsangiz, spam jildingizni tekshiring. Aks holda, agar siz uni bir necha daqiqada olmagan bo'lsangiz, biz bilan bog'laning.{% endblocktrans %}</p>
</div>
</section>
{% endblock %}
