{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Parolni o'zgartirish" %}{% endblock %}

{% block content %}

    <h1>{% trans "Parolni o'zgartirish" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Parolni o'zgartirish" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Parol esdan chiqdimi?" %}</a>
    </form>
{% endblock %}
