{% extends "base.html" %}

{% load i18n %}
{% block title %}Parolni tiklash{% endblock %}

{% block content %}
<section>
    <div class='container password-change'>
    <h1>{% if token_fail %}{% trans "Yaroqsiz token" %}{% else %}{% trans "Parolni tiklash" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Parolni tiklash havolasi yaroqsiz, ehtimol u allaqachon ishlatilgan.  Iltimos, yangi <a href="{{ passwd_reset_url }}">parolni tiklashni so'rang</a>.{% endblocktrans %}</p>
    {% else %}
        <form class='pass-change-form' method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input style='cursor: pointer' class='btn' type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
    </div>
</section>
{% endblock %}
