{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Elektron pochta manzilingizni tasdiqlang" %}{% endblock %}

{% block content %}
<h1>{% trans "Elektron pochta manzilingizni tasdiqlang" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Saytning ushbu qismi bizdan buni tekshirishni talab qiladi
    siz o'zingiz da'vo qilgan odamsiz. Shu maqsadda sizdan shuni talab qilamiz
    elektron pochta manzilingiz egaligini tasdiqlang. {% endblocktrans %}</p>

<p>{% blocktrans %}Biz sizga elektron pochta xabarini yubordik
    tekshirish. Iltimos, ushbu elektron pochta ichidagi havolani bosing. Agar siz tasdiqlovchi elektron pochtani asosiy pochta qutingizda ko'rmasangiz, spam jildini tekshiring. Aks holda
    Agar bir necha daqiqa ichida uni olmagan bo'lsangiz, biz bilan bog'laning.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Eslatma:</strong> siz hali hamon E-mail manzilingizni <a href="{{ email_url }}"> o'zgartirishingiz mumkin.</a>.{% endblocktrans %}</p>


{% endblock %}
