{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Elektron pochta manzilingizni tasdiqlang" %}{% endblock %}

{% block content %}
    <h1>{% trans "Elektron pochta manzilingizni tasdiqlang" %}</h1>

    <p>{% blocktrans %}Tasdiqlash uchun sizga elektron xat yubordik. Roʻyxatdan oʻtish jarayonini yakunlash uchun taqdim etilgan havolaga oʻting. Agar siz tasdiqlovchi elektron pochtani asosiy pochta qutingizda ko'rmasangiz, spam jildini tekshiring. Agar bir necha daqiqa ichida tasdiqlovchi elektron xat olmagan boʻlsa, biz bilan bogʻlaning.{% endblocktrans %}</p>

{% endblock %}
